In [ ]:
import pandas as pd

UserDataset = pd.read_csv('../Data/user/u.data', 
                      sep='\t', names=['user_id', 'movie_id', 'rating', 'timestamp'], engine='python')
UserDataset.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [30]:
UserDataset = UserDataset.drop('timestamp', axis=1)
UserDataset.isna().sum()

user_id     0
movie_id    0
rating      0
dtype: int64

In [31]:
duplicates = UserDataset[UserDataset.duplicated(subset=['user_id', 'movie_id'], keep=False)]
print("Number of duplicate ratings:", len(duplicates))

Number of duplicate ratings: 0

In [32]:
UserDataset2 = pd.read_csv(
    "../Data/user/u.item",
    sep='|',
    encoding='latin-1',
    usecols=[0, 1],
    names=['movie_id', 'title'],
    header=None
)

def remove_year(title):
    result = ""
    for s in title:
        if s == "(":
            break
        result += s
    return result.strip()

UserDataset2['title'] = UserDataset2['title'].apply(remove_year)

UserDataset2.head()

   movie_id       title
0         1   Toy Story
1         2   GoldenEye
2         3  Four Rooms
3         4  Get Shorty
4         5     Copycat

In [33]:

NewUser = UserDataset.merge(UserDataset2, on='movie_id', how='left')
NewUser.head()

   user_id  movie_id  rating                title
0      196       242       3                Kolya
1      186       302       3    L.A. Confidential
2       22       377       1         Heavyweights
3      244        51       2  Legends of the Fall
4      166       346       1         Jackie Brown

In [34]:
NewUser.to_csv("../NewData/NewUser.csv",index=False)